
/* ================ Header ============== */
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px; /* espace entre le logo et le nom */
    padding: 10px 20px;
    height: 80px;
}

.logo {
    width: auto;
    height: 80px;
}

/* ================ menu burger ============== */
.cacheBurger{
    display:none;
}

/* ================ Footer ============== */
/* Style pour le pied de page */
footer {
    background-color: #333; 
    color: white; 
    padding: 20px; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
}
/* Style pour les divs dans le pied de page */
footer div {
    margin: 10px; 
}
/* dans le pied de page */
footer a {
    color: var(--fondSecondaires); 
}
/* pour les liens dans le pied de page */
.footer-link {
    margin-top: 15px; 
}
/*logo des reseaux*/
.logoRéseaux{
    height: 30px;
}
.lienCoordonnees, span {
    color: var(--fondSecondaires);
}
