/* header */
header {
    background-color: var(--boutonTitre);
    padding: 10px 40px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    gap: 20px;
}
.logo {
    height: 80px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #007BFF;
}
/*logo des reseaux*/
.logoRéseaux{
height: 30px;
}

/* Style pour le pied de page */
footer {
    background-color: #333; 
    color: white; 
    padding: 20px; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
}

/* Style pour les divs dans le pied de page */
footer div {
    margin: 10px; 
}

/* Style pour les liens dans le pied de page */
footer a {
    color: #ddd; 
}

/* Style pour les liens spécifiques dans le pied de page */
.footer-link {
    margin-top: 15px; 
}