
:root {
    --boutonTitre: #4CAF50;
    --fondFrincipal: #F5F5DC;
    --textes: #333333;
    --fondSecondaires: #FFFFFF;
}

body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    background-color: var(--fondFrincipal);
    color: var(--textes);
    box-sizing: border-box;
}

h1, h2, h3, h4{
    font-family: "Playfair Display", serif;
    color: var(--boutonTitre);
}

a, span{
    font-family: "Poppins", sans-serif;
    color: var(--textes);
}


