:root {
    --boutonTitre: #4CAF50;
    --fondFrincipal: #F5F5DC;
    --textes: #333333;
    --fondSecondaires: #FFFFFF;
}

body {
    font-family: Poppins;
    margin: 3;
    padding: 6;
    background-color: var(--fondFrincipal);
    color: var(--textes);
}

h1, h2, h3, h4{
    font-family: "Playfair Display", serif;
}

p, a, span{
    font-family: "Poppins", sans-serif;
}